.view__all {
  padding: 20px;
  width: 100%;
}

.href1 {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  color: #3f8cff;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.href1:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.href1:hover {
  background-position: 0;
}

.href1:hover::before {
  width: 100%;
}

.left__viewAll {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right__viewAll {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
