.layout__board{
    width: 100%
}

.layout__top{
    margin: auto;
    display: flex;
}

.layout__top1 {
    width: 23%;
    height: 58px
    back
}
.layout__top2 {
    width: 23%;
    height: 58px
}
.layout__top3 {
    width: 23%;
    height: 58px
}
.layout__top4 {
    width: 23%;
    height: 58px
}