.nest_vip {
  width: 4px;
  height: 104px;
  flex-shrink: 0;
  border-radius: 2px;
}
.layout__ev {
  margin: auto;
  padding: 10;
}
.time__ev {
  width: 63px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #f4f9fd;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: #7d8592;
  font-weight: 700;
}

.title__ev {
  margin-top: 0px;
}

.layout {
  margin: auto;
  padding: 10px;
  width: 330px;
}
