.layout__sup {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 20px;
}

.request1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.request {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.request2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
